Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$

gocognit: apply Arch Go packaging hardening flags (#651)
  gocognit/.SRCINFO
  gocognit/PKGBUILD
Due: gocognit

vgo: apply Arch Go packaging hardening flags
  vgo/.SRCINFO
  vgo/PKGBUILD
Due: vgo

grpcmd: apply Arch Go packaging hardening flags (#662)
  grpcmd/.SRCINFO
  grpcmd/PKGBUILD
Due: grpcmd

vibecheck: apply Arch Go packaging hardening flags
  vibecheck/.SRCINFO
  vibecheck/PKGBUILD
Due: vibecheck

wacli: apply Arch Go packaging hardening flags
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

n26: apply Arch Go packaging hardening flags (#680)
  n26/.SRCINFO
  n26/PKGBUILD
Due: n26

work: apply Arch Go packaging hardening flags
  work/.SRCINFO
  work/PKGBUILD
Due: work

world-cup-2022-cli-dashboard: apply Arch Go packaging hardening flags
  world-cup-2022-cli-dashboard/.SRCINFO
  world-cup-2022-cli-dashboard/PKGBUILD
Due: world-cup-2022-cli-dashboard

yamldiff: apply Arch Go packaging hardening flags
  yamldiff/.SRCINFO
  yamldiff/PKGBUILD
Due: yamldiff

zeit: apply Arch Go packaging hardening flags
  zeit/.SRCINFO
  zeit/PKGBUILD
Due: zeit

zkcli: apply Arch Go packaging hardening flags
  zkcli/.SRCINFO
  zkcli/PKGBUILD
Due: zkcli

git-orchard: apply Arch Go packaging hardening flags (#648)
  git-orchard/.SRCINFO
  git-orchard/PKGBUILD
Due: git-orchard

go-test-report: apply Arch Go packaging hardening flags (#657)
  go-test-report/.SRCINFO
  go-test-report/PKGBUILD
Due: go-test-report

gocovsh: apply Arch Go packaging hardening flags (#652)
  gocovsh/.SRCINFO
  gocovsh/PKGBUILD
Due: gocovsh

gvm: apply Arch Go packaging hardening flags (#665)
  gvm/.SRCINFO
  gvm/PKGBUILD
Due: gvm

gscript: apply Arch Go packaging hardening flags (#663)
  gscript/.SRCINFO
  gscript/PKGBUILD
Due: gscript

jaggr: apply Arch Go packaging hardening flags (#670)
  jaggr/.SRCINFO
  jaggr/PKGBUILD
Due: jaggr

opsy: apply Arch Go packaging hardening flags (#685)
  opsy/.SRCINFO
  opsy/PKGBUILD
Due: opsy

gowebdav: apply Arch Go packaging hardening flags (#660)
  gowebdav/.SRCINFO
  gowebdav/PKGBUILD
Due: gowebdav

nature-sounds: apply Arch Go packaging hardening flags (#681)
  nature-sounds/.SRCINFO
  nature-sounds/PKGBUILD
Due: nature-sounds

paclear: apply Arch Go packaging hardening flags (#688)
  paclear/.SRCINFO
  paclear/PKGBUILD
Due: paclear

madonctl: apply Arch Go packaging hardening flags (#676)
  madonctl/.SRCINFO
  madonctl/PKGBUILD
Due: madonctl

gtasks: apply Arch Go packaging hardening flags (#664)
  gtasks/.SRCINFO
  gtasks/PKGBUILD
Due: gtasks

go-perftuner: apply Arch Go packaging hardening flags (#656)
  go-perftuner/.SRCINFO
  go-perftuner/PKGBUILD
Due: go-perftuner

json2struct: apply Arch Go packaging hardening flags (#672)
  json2struct/.SRCINFO
  json2struct/PKGBUILD
Due: json2struct

otel-cli: apply Arch Go packaging hardening flags (#686)
  otel-cli/.SRCINFO
  otel-cli/PKGBUILD
Due: otel-cli

fil: apply Arch Go packaging hardening flags (#644)
  fil/.SRCINFO
  fil/PKGBUILD
Due: fil

ci: serialize hourly and deploy workflows with a concurrency group
  .github/workflows/deploy.yml
  .github/workflows/hourly.yml
Due: none

gh-markdown-preview: apply Arch Go packaging hardening flags
  gh-markdown-preview/.SRCINFO
  gh-markdown-preview/PKGBUILD
Due: gh-markdown-preview

hashi-up: apply Arch Go packaging hardening flags (#667)
  hashi-up/.SRCINFO
  hashi-up/PKGBUILD
Due: hashi-up

rad: apply Arch Go packaging hardening flags (#694)
  rad/.SRCINFO
  rad/PKGBUILD
Due: rad

ci: serialize hourly and deploy workflows with a concurrency group (#715)
  .github/workflows/deploy.yml
  .github/workflows/hourly.yml
Due: none

kure: apply Arch Go packaging hardening flags (#674)
  kure/.SRCINFO
  kure/PKGBUILD
Due: kure

iftree: allow format-security warning from go-graphviz cgo build
  iftree/PKGBUILD
Due: iftree

ojosama: apply Arch Go packaging hardening flags (#684)
  ojosama/.SRCINFO
  ojosama/PKGBUILD
Due: ojosama

hanime-hunter: apply Arch Go packaging hardening flags (#666)
  hanime-hunter/.SRCINFO
  hanime-hunter/PKGBUILD
Due: hanime-hunter

mirrorbits: apply Arch Go packaging hardening flags (#677)
  mirrorbits/.SRCINFO
  mirrorbits/PKGBUILD
Due: mirrorbits

my-token: apply Arch Go packaging hardening flags (#679)
  my-token/.SRCINFO
  my-token/PKGBUILD
Due: my-token

mufetch: apply Arch Go packaging hardening flags (#678)
  mufetch/.SRCINFO
  mufetch/PKGBUILD
Due: mufetch

tabtoy: apply Arch Go packaging hardening flags (#701)
  tabtoy/.SRCINFO
  tabtoy/PKGBUILD
Due: tabtoy
