Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$

fix and enforce pkglint warn level
  .pre-commit-config.yaml
  captain/.SRCINFO
  captain/PKGBUILD
  saw/.SRCINFO
  saw/PKGBUILD
Due: captain, saw

Bump gh-markdown-preview from 1.11.1 to 1.11.2 (#620)
  gh-markdown-preview/.SRCINFO
  gh-markdown-preview/PKGBUILD
Due: gh-markdown-preview

agent-deck: apply Arch Go packaging hardening flags
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

annas-mcp: apply Arch Go packaging hardening flags
  annas-mcp/.SRCINFO
  annas-mcp/PKGBUILD
Due: annas-mcp

agent-deck: apply Arch Go packaging hardening flags (#622)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

blipgloss: apply Arch Go packaging hardening flags
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
  blipgloss/.SRCINFO
  blipgloss/PKGBUILD
Due: aws-doctor, blipgloss

annas-mcp: apply Arch Go packaging hardening flags (#623)
  annas-mcp/.SRCINFO
  annas-mcp/PKGBUILD
Due: annas-mcp

blipgloss: apply Arch Go packaging hardening flags (#624)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
  blipgloss/.SRCINFO
  blipgloss/PKGBUILD
Due: aws-doctor, blipgloss

aws-doctor: apply Arch Go packaging hardening flags
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

brev-cli: apply Arch Go packaging hardening flags
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

captain: apply Arch Go packaging hardening flags
  captain/.SRCINFO
  captain/PKGBUILD
Due: captain

cascadia: apply Arch Go packaging hardening flags
  cascadia/.SRCINFO
  cascadia/PKGBUILD
Due: cascadia

cert: apply Arch Go packaging hardening flags
  cert/.SRCINFO
  cert/PKGBUILD
Due: cert

cfnctl: apply Arch Go packaging hardening flags
  cfnctl/.SRCINFO
  cfnctl/PKGBUILD
Due: cfnctl

captain: apply Arch Go packaging hardening flags (#627)
  captain/.SRCINFO
  captain/PKGBUILD
Due: captain

brev-cli: apply Arch Go packaging hardening flags (#626)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

cascadia: apply Arch Go packaging hardening flags (#628)
  cascadia/.SRCINFO
  cascadia/PKGBUILD
Due: cascadia

cert: apply Arch Go packaging hardening flags (#629)
  cert/.SRCINFO
  cert/PKGBUILD
Due: cert

cfnctl: apply Arch Go packaging hardening flags (#630)
  cfnctl/.SRCINFO
  cfnctl/PKGBUILD
Due: cfnctl

checkip: apply Arch Go packaging hardening flags
  checkip/.SRCINFO
  checkip/PKGBUILD
Due: checkip

check-symlinks: apply Arch Go packaging hardening flags
  check-symlinks/.SRCINFO
  check-symlinks/PKGBUILD
Due: check-symlinks

clive: apply Arch Go packaging hardening flags
  clive/.SRCINFO
  clive/PKGBUILD
Due: clive

cloud189: apply Arch Go packaging hardening flags
  cloud189/.SRCINFO
  cloud189/PKGBUILD
Due: cloud189

cls3: apply Arch Go packaging hardening flags
  cls3/.SRCINFO
  cls3/PKGBUILD
Due: cls3

codeowners: apply Arch Go packaging hardening flags
  codeowners/.SRCINFO
  codeowners/PKGBUILD
Due: codeowners

checkip: apply Arch Go packaging hardening flags (#631)
  checkip/.SRCINFO
  checkip/PKGBUILD
Due: checkip

comigo: apply Arch Go packaging hardening flags
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

check-symlinks: apply Arch Go packaging hardening flags (#632)
  check-symlinks/.SRCINFO
  check-symlinks/PKGBUILD
Due: check-symlinks

connections: apply Arch Go packaging hardening flags
  connections/.SRCINFO
  connections/PKGBUILD
Due: connections

clive: apply Arch Go packaging hardening flags (#633)
  clive/.SRCINFO
  clive/PKGBUILD
Due: clive

cycle-cli: apply Arch Go packaging hardening flags
  cycle-cli/.SRCINFO
  cycle-cli/PKGBUILD
Due: cycle-cli

cloud189: apply Arch Go packaging hardening flags (#634)
  cloud189/.SRCINFO
  cloud189/PKGBUILD
Due: cloud189

docker-debug: apply Arch Go packaging hardening flags
  docker-debug/.SRCINFO
  docker-debug/PKGBUILD
Due: docker-debug

dockerfilegraph: apply Arch Go packaging hardening flags
  dockerfilegraph/.SRCINFO
  dockerfilegraph/PKGBUILD
Due: dockerfilegraph

cls3: apply Arch Go packaging hardening flags (#635)
  cls3/.SRCINFO
  cls3/PKGBUILD
Due: cls3

enpasscli: apply Arch Go packaging hardening flags
  enpasscli/.SRCINFO
  enpasscli/PKGBUILD
Due: enpasscli

faas-cli: apply Arch Go packaging hardening flags
  faas-cli/.SRCINFO
  faas-cli/PKGBUILD
Due: faas-cli

codeowners: apply Arch Go packaging hardening flags (#636)
  codeowners/.SRCINFO
  codeowners/PKGBUILD
Due: codeowners

fil: apply Arch Go packaging hardening flags
  fil/.SRCINFO
  fil/PKGBUILD
Due: fil
