Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$

chore: rm diny
  diny/.SRCINFO
  diny/PKGBUILD
Due: diny

feat: rm `--target`, add `--target-dir`, makedepends only `cargo`
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

chore: revert makedepends back to `rust`
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump agent-deck from 0.20.0 to 0.20.1 (#229)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

chore: bump_pkgrel.py
  bump_pkgrel.py
Due: none

chore: rm TODO
  TODO
Due: none

Bump agent-deck from 0.20.1 to 0.20.2 (#230)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump faas-cli from 0.18.1 to 0.18.3 (#232)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
  faas-cli/.SRCINFO
  faas-cli/PKGBUILD
Due: brev-cli, faas-cli

Bump agent-deck from 0.20.2 to 0.21.1 (#233)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump comigo from 1.2.19 to 1.2.20 (#234)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump agent-deck from 0.21.1 to 0.23.0 (#235)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump brev-cli from 0.6.317 to 0.6.318 (#236)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

Bump agent-deck from 0.23.0 to 0.24.1 (#237)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump rad from 0.8.0 to 0.8.1 (#238)
  rad/.SRCINFO
  rad/PKGBUILD
Due: rad

Bump brev-cli from 0.6.318 to 0.6.319 (#240)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

Bump poutine from 1.0.7 to 1.0.8 (#241)
  poutine/.SRCINFO
  poutine/PKGBUILD
Due: poutine

Bump prek from 0.3.4 to 0.3.5 (#242)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump aws-doctor from 1.8.1 to 1.9.0 (#244)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump agent-deck from 0.24.1 to 0.25.0 (#245)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump gtasks from 0.12.0 to 0.13.0 (#246)
  gtasks/.SRCINFO
  gtasks/PKGBUILD
Due: gtasks

Bump nomore403 from 1.1.8 to 1.2.0 (#248)
  nomore403/.SRCINFO
  nomore403/PKGBUILD
Due: nomore403

Bump release-tag from 0.5.0 to 0.5.2 (#250)
  release-tag/.SRCINFO
  release-tag/PKGBUILD
Due: release-tag

Bump rad from 0.8.1 to 0.9.0 (#249)
  rad/.SRCINFO
  rad/PKGBUILD
Due: rad

Bump agent-deck from 0.25.0 to 0.25.1 (#253)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump brev-cli from 0.6.319 to 0.6.320 (#255)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

Bump aws-doctor from 1.9.0 to 1.10.0 (#254)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump dockerfilegraph from 0.19.3 to 0.20.0 (#258)
  dockerfilegraph/.SRCINFO
  dockerfilegraph/PKGBUILD
Due: dockerfilegraph

Bump aws-doctor from 1.10.0 to 1.10.2 (#257)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump dockerfilegraph from 0.20.0 to 0.21.0 (#260)
  dockerfilegraph/.SRCINFO
  dockerfilegraph/PKGBUILD
Due: dockerfilegraph

Bump brev-cli from 0.6.320 to 0.6.321 (#259)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

Bump gotun from 0.8.0 to 0.8.1 (#261)
  gotun/.SRCINFO
  gotun/PKGBUILD
Due: gotun

Bump mac-cleanup-go from 1.4.1 to 1.4.2 (#262)
  mac-cleanup-go/.SRCINFO
  mac-cleanup-go/PKGBUILD
Due: mac-cleanup-go

Bump agent-deck from 0.25.1 to 0.26.0 (#265)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck
