Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$

Bump aws-doctor from 1.10.2 to 2.0.0 (#266)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump brev-cli from 0.6.321 to 0.6.322 (#267)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

Bump prek from 0.3.5 to 0.3.6 (#269)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

feat: check for packages hourly
  .github/workflows/hourly.yml
Due: none

Bump agent-deck from 0.26.0 to 0.26.2 (#270)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump go-grip from 0.8.0 to 0.9.0 (#271)
  go-grip/.SRCINFO
  go-grip/PKGBUILD
Due: go-grip

Bump nomore403 from 1.2.0 to 1.3.0 (#272)
  nomore403/.SRCINFO
  nomore403/PKGBUILD
Due: nomore403

Bump ibazel-bin from 0.28.0 to 0.28.1 (#275)
  ibazel-bin/.SRCINFO
  ibazel-bin/PKGBUILD
Due: ibazel-bin

Bump ibazel from 0.28.0 to 0.28.1 (#276)
  ibazel/.SRCINFO
  ibazel/PKGBUILD
Due: ibazel

Bump aws-doctor from 2.0.0 to 2.1.0 (#277)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump agent-deck from 0.26.2 to 0.26.3 (#278)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump aws-doctor from 2.1.0 to 2.2.0 (#279)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

reduce api requests
  .github/workflows/hourly.yml
  pkgreleaser.py
Due: none

skip and log
  pkgreleaser.py
Due: none

Bump python-e3-testsuite from 27.2 to 27.3 (#280)
  .SRCINFO
  PKGBUILD
Due: none

feat: use GITHUB_TOKEN in hourly
  .github/workflows/hourly.yml
  pkgreleaser.py
Due: none

nit
  .github/workflows/hourly.yml
Due: none

nit
  pkgreleaser.py
Due: none

Revert "feat: use GITHUB_TOKEN in hourly"
  .github/workflows/hourly.yml
  pkgreleaser.py
Due: none

Bump agent-deck from 0.26.3 to 0.26.4 (#281)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump aws-doctor from 2.2.0 to 2.3.0 (#282)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump aws-doctor from 2.3.0 to 2.4.0 (#283)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump comigo from 1.2.20 to 1.2.21 (#284)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump comigo from 1.2.21 to 1.2.22 (#285)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump aws-doctor from 2.4.0 to 2.5.0 (#286)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

fix validate_configs.py
  .pre-commit-config.yaml
  nvchecker.toml
Due: none

rm python-e3-testsuite
  python-e3-testsuite/.SRCINFO
  python-e3-testsuite/PKGBUILD
Due: none

Bump prek from 0.3.6 to 0.3.8 (#287)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump faas-cli from 0.18.3 to 0.18.4 (#288)
  faas-cli/.SRCINFO
  faas-cli/PKGBUILD
Due: faas-cli

Bump faas-cli from 0.18.4 to 0.18.5 (#291)
  faas-cli/.SRCINFO
  faas-cli/PKGBUILD
Due: faas-cli

Bump faas-cli from 0.18.5 to 0.18.7 (#292)
  faas-cli/.SRCINFO
  faas-cli/PKGBUILD
Due: faas-cli

Bump comigo from 1.2.22 to 1.2.23 (#293)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump agent-deck from 0.26.4 to 0.27.1 (#294)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 0.27.1 to 0.27.3 (#295)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 0.27.3 to 0.27.4 (#296)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck
