Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$

Bump agent-deck from 1.16.1 to 1.16.3 (#737)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump pkglint from 1.6.1 to 1.6.2 (#738)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

Bump go-grip from 0.9.2 to 0.10.0 (#739)
  go-grip/.SRCINFO
  go-grip/PKGBUILD
Due: go-grip

Bump wacli from 0.17.2 to 0.18.0 (#740)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

Bump agent-deck from 1.16.3 to 1.16.4 (#741)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump wacli from 0.18.0 to 0.18.1 (#744)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

Bump comigo from 1.3.4 to 1.3.5 (#745)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump comigo from 1.3.5 to 1.3.6 (#746)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump wacli from 0.18.1 to 0.18.2 (#747)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

Bump agent-deck from 1.16.4 to 1.16.5 (#748)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.5 to 1.16.6 (#749)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.6 to 1.16.7 (#750)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump prek from 0.5.2 to 0.5.3 (#751)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump agent-deck from 1.16.7 to 1.16.8 (#752)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.8 to 1.16.9 (#753)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.9 to 1.16.10 (#754)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump buildifier-bin from 8.5.1 to 10.0.1 (#757)
  buildifier-bin/.SRCINFO
  buildifier-bin/PKGBUILD
Due: buildifier-bin

Bump buildozer-bin from 8.5.1 to 10.0.1 (#759)
  buildozer-bin/.SRCINFO
  buildozer-bin/PKGBUILD
Due: buildozer-bin

upgrade `release-tag` to v0.6.1
  release-tag/.SRCINFO
  release-tag/PKGBUILD
Due: release-tag

Bump pkglint from 1.6.2 to 1.6.3 (#763)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

Bump buildifier from 8.5.1 to 10.0.1 (#760)
  buildifier/.SRCINFO
  buildifier/PKGBUILD
Due: buildifier

Bump buildozer from 8.5.1 to 10.0.1 (#758)
  buildozer/.SRCINFO
  buildozer/PKGBUILD
Due: buildozer

Bump comigo from 1.3.6 to 1.3.7 (#764)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump checkip from 0.53.3 to 0.54.0 (#765)
  checkip/.SRCINFO
  checkip/PKGBUILD
Due: checkip

Bump agent-deck from 1.16.10 to 1.16.11 (#766)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.11 to 1.16.12 (#767)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.12 to 1.16.13 (#768)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.13 to 1.16.14 (#769)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.14 to 1.16.15 (#770)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.16.15 to 1.16.16 (#771)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump checkip from 0.54.0 to 0.55.0 (#772)
  checkip/.SRCINFO
  checkip/PKGBUILD
Due: checkip

Bump wacli from 0.18.2 to 0.18.3 (#773)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

Bump buildozer from 10.0.1 to 10.1.0 (#775)
  buildozer/.SRCINFO
  buildozer/PKGBUILD
Due: buildozer

Bump buildifier from 10.0.1 to 10.1.0 (#774)
  buildifier/.SRCINFO
  buildifier/PKGBUILD
Due: buildifier

Bump buildozer-bin from 10.0.1 to 10.1.0 (#777)
  buildozer-bin/.SRCINFO
  buildozer-bin/PKGBUILD
Due: buildozer-bin

Bump buildifier-bin from 10.0.1 to 10.1.0 (#778)
  buildifier-bin/.SRCINFO
  buildifier-bin/PKGBUILD
Due: buildifier-bin
