Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

agent-deck:
  name: agent-deck
  entry: ./build agent-deck
  language: system
  pass_filenames: false

aligo:
  name: aligo
  entry: ./build aligo
  language: system
  pass_filenames: false

annas-mcp:
  name: annas-mcp
  entry: ./build annas-mcp
  language: system
  pass_filenames: false

aws-doctor:
  name: aws-doctor
  entry: ./build aws-doctor
  language: system
  pass_filenames: false

blipgloss:
  name: blipgloss
  entry: ./build blipgloss
  language: system
  pass_filenames: false

brev-cli:
  name: brev-cli
  entry: ./build brev-cli
  language: system
  pass_filenames: false

buildifier:
  name: buildifier
  entry: ./build buildifier
  language: system
  pass_filenames: false

buildifier-bin:
  name: buildifier-bin
  entry: ./build buildifier-bin
  language: system
  pass_filenames: false

buildozer:
  name: buildozer
  entry: ./build buildozer
  language: system
  pass_filenames: false

buildozer-bin:
  name: buildozer-bin
  entry: ./build buildozer-bin
  language: system
  pass_filenames: false

captain:
  name: captain
  entry: ./build captain
  language: system
  pass_filenames: false

cascadia:
  name: cascadia
  entry: ./build cascadia
  language: system
  pass_filenames: false

cert:
  name: cert
  entry: ./build cert
  language: system
  pass_filenames: false

cfnctl:
  name: cfnctl
  entry: ./build cfnctl
  language: system
  pass_filenames: false

check-symlinks:
  name: check-symlinks
  entry: ./build check-symlinks
  language: system
  pass_filenames: false

checkip:
  name: checkip
  entry: ./build checkip
  language: system
  pass_filenames: false

clive:
  name: clive
  entry: ./build clive
  language: system
  pass_filenames: false

cloud189:
  name: cloud189
  entry: ./build cloud189
  language: system
  pass_filenames: false

cls3:
  name: cls3
  entry: ./build cls3
  language: system
  pass_filenames: false

codeowners:
  name: codeowners
  entry: ./build codeowners
  language: system
  pass_filenames: false

comigo:
  name: comigo
  entry: ./build comigo
  language: system
  pass_filenames: false

connections:
  name: connections
  entry: ./build connections
  language: system
  pass_filenames: false

cycle-cli:
  name: cycle-cli
  entry: ./build cycle-cli
  language: system
  pass_filenames: false

diny:
  name: diny
  entry: ./build diny
  language: system
  pass_filenames: false

docker-debug:
  name: docker-debug
  entry: ./build docker-debug
  language: system
  pass_filenames: false

dockerfilegraph:
  name: dockerfilegraph
  entry: ./build dockerfilegraph
  language: system
  pass_filenames: false

enpasscli:
  name: enpasscli
  entry: ./build enpasscli
  language: system
  pass_filenames: false

faas-cli:
  name: faas-cli
  entry: ./build faas-cli
  language: system
  pass_filenames: false

fil:
  name: fil
  entry: ./build fil
  language: system
  pass_filenames: false

gh-eco:
  name: gh-eco
  entry: ./build gh-eco
  language: system
  pass_filenames: false

gh-s:
  name: gh-s
  entry: ./build gh-s
  language: system
  pass_filenames: false

Bump pkglint from 1.3.0 to 1.5.0 (#720)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

nit
  ibazel/PKGBUILD
Due: ibazel

Bump ibazel from 0.32.0 to 0.33.0 (#612)
  ibazel/.SRCINFO
  ibazel/PKGBUILD
Due: ibazel

ignore PB906
  .pre-commit-config.yaml
Due: none

fix pkglint findings
  aligo/.SRCINFO
  aligo/PKGBUILD
  buildifier-bin/.SRCINFO
  buildifier-bin/PKGBUILD
  buildifier/.SRCINFO
  buildifier/PKGBUILD
  buildozer-bin/.SRCINFO
  buildozer-bin/PKGBUILD
  buildozer/.SRCINFO
  buildozer/PKGBUILD
  ibazel-bin/.SRCINFO
  ibazel-bin/PKGBUILD
  python-e3-core/.SRCINFO
  python-e3-core/PKGBUILD
  python-e3-testsuite/.SRCINFO
  python-e3-testsuite/PKGBUILD
Due: aligo, buildifier, buildifier-bin, buildozer, buildozer-bin, ibazel-bin, python-e3-core

fix pkglint commit after history rewrite
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

Bump prek from 0.4.14 to 0.5.1 (#721)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

# pkglint: ignore=PB906
  captain/PKGBUILD
  cascadia/PKGBUILD
  cert/PKGBUILD
  cfnctl/PKGBUILD
  codeowners/PKGBUILD
  connections/PKGBUILD
  goben/PKGBUILD
  iftree/PKGBUILD
  mirrorbits/PKGBUILD
  n26/PKGBUILD
  nvchecker.toml
  opsy/PKGBUILD
  tecli/PKGBUILD
  truss/PKGBUILD
  vibecheck/PKGBUILD
Due: captain, cascadia, cert, cfnctl, codeowners, connections, goben, iftree, mirrorbits, n26, opsy, tecli, truss, vibecheck

ci: pin AUR host key and skip unchanged packages in deploy
  .github/workflows/deploy.yml
Due: none

ci: pin AUR host key and skip unchanged packages in deploy (#722)
  .github/workflows/deploy.yml
Due: none

Bump pkglint from 1.5.0 to 1.5.1 (#723)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

Bump prek from 0.5.1 to 0.5.2 (#724)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump faas-cli from 0.18.12 to 0.18.13 (#725)
  faas-cli/.SRCINFO
  faas-cli/PKGBUILD
Due: faas-cli

Bump brev-cli from 0.6.334 to 0.6.335 (#726)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

ci: authenticate nvchecker GitHub requests in the hourly workflow
  .github/workflows/hourly.yml
  pkgreleaser.py
Due: none

ci: run the hourly workflow in archlinux:base-devel instead of a custom image
  .github/actions/build-user/action.yml
  .github/actions/prek/action.yml
  .github/workflows/hourly.yml
  pkgreleaser.py
Due: none

ci: mark the workspace safe for root and pin the Arch image by digest
  .github/workflows/hourly.yml
  .github/workflows/test.yml
Due: none

ci: run zizmor as a prek hook and name every job and step
  .github/actions/build-user/action.yml
  .github/actions/prek/action.yml
  .github/workflows/deploy.yml
  .github/workflows/hourly.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

nit
  nvchecker.toml
Due: none

ci: add actionlint as a prek hook
  .pre-commit-config.yaml
Due: none

nit
  .pre-commit-config.yaml
Due: none

nit
  readmegen.py
Due: none

gitignore: allowlist package directory contents
  .gitignore
  madonctl/.gitignore
  python-blessings/.gitignore
Due: none

Bump wacli from 0.17.1 to 0.17.2 (#728)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

ci: check every package with a single nvchecker run
  .github/workflows/hourly.yml
  pkgreleaser.py
Due: none

Bump zeit from 1.0.2 to 1.1.0 (#729)
  zeit/.SRCINFO
  zeit/PKGBUILD
Due: zeit

wacli: build with sqlite_fts5 for full-text search
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

wacli: follow upstream move to openclaw/wacli
  nvchecker.toml
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

Bump pkglint from 1.5.1 to 1.5.2 (#730)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

Bump cloud189 from 0.6.8 to 0.7.0 (#731)
  cloud189/.SRCINFO
  cloud189/PKGBUILD
Due: cloud189

Bump pkglint from 1.5.2 to 1.5.3 (#732)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

prek auto-updated --frozen
  .pre-commit-config.yaml
Due: none

Bump pkglint from 1.5.3 to 1.6.0 (#734)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

pkgreleaser: invoke nvchecker via sys.executable
  pkgreleaser.py
Due: none

prek auto-update --freeze
  .pre-commit-config.yaml
Due: none

Bump pkglint from 1.6.0 to 1.6.1 (#735)
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

Bump agent-deck from 1.15.0 to 1.16.1 (#736)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$
