Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, buildifier-bin, buildozer-bin, check-symlinks, connections, nature-sounds, ripsecrets, work

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: buildifier
        name: buildifier
        entry: ./build buildifier
        language: system
        files: ^buildifier/PKGBUILD$
        pass_filenames: false
      - id: buildifier-bin
        name: buildifier-bin
        entry: ./build buildifier-bin
        language: system
        files: ^buildifier-bin/PKGBUILD$
        pass_filenames: false
      - id: buildozer-bin
        name: buildozer-bin
        entry: ./build buildozer-bin
        language: system
        files: ^buildozer-bin/PKGBUILD$
        pass_filenames: false
      - id: check-symlinks
        name: check-symlinks
        entry: ./build check-symlinks
        language: system
        files: ^check-symlinks/PKGBUILD$
        pass_filenames: false
      - id: connections
        name: connections
        entry: ./build connections
        language: system
        files: ^connections/PKGBUILD$
        pass_filenames: false
      - id: nature-sounds
        name: nature-sounds
        entry: ./build nature-sounds
        language: system
        files: ^nature-sounds/PKGBUILD$
        pass_filenames: false
      - id: ripsecrets
        name: ripsecrets
        entry: ./build ripsecrets
        language: system
        files: ^ripsecrets/PKGBUILD$
        pass_filenames: false
      - id: work
        name: work
        entry: ./build work
        language: system
        files: ^work/PKGBUILD$
        pass_filenames: false

Re-apply "Bump work from 1.0.11 to 1.0.12"" (#146)
  work/.SRCINFO
  work/PKGBUILD
Due: work

Revert "Re-apply "Bump work from 1.0.11 to 1.0.12"" (#146)"
  work/.SRCINFO
  work/PKGBUILD
Due: work

Revert "Re-apply "Bump work from 1.0.11 to 1.0.12"" (#147)
  work/.SRCINFO
  work/PKGBUILD
Due: work

rm CARGO_NET_GIT_FETCH_WITH_CLI & drop verbose
  prek/.SRCINFO
  prek/PKGBUILD
Due: none

debug and workflow_dispatch
  .github/workflows/nightly.yml
Due: none

chore(pre-commit): add builtin hooks
  aligo/PKGBUILD
  buildifier/PKGBUILD
  buildozer/PKGBUILD
  ibazel/PKGBUILD
  python-blessings/pytest.patch
Due: buildifier

remove dependabot.yml's
  .github/dependabot.yml
Due: none

ratchet upgrade
  .github/workflows/deploy.yml
  .github/workflows/nightly.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Revert "feat: shell completion"
  ripsecrets/.SRCINFO
  ripsecrets/PKGBUILD
Due: ripsecrets

update package version after revert
  ripsecrets/.SRCINFO
  ripsecrets/PKGBUILD
Due: ripsecrets

Initial commit
  .SRCINFO
  PKGBUILD
Due: none
