Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$

Bump agent-deck from 1.9.16 to 1.9.17 (#459)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump aws-doctor from 2.16.0 to 2.17.0 (#460)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump agent-deck from 1.9.17 to 1.9.18 (#461)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.18 to 1.9.19 (#462)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.19 to 1.9.20 (#463)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump comigo from 1.2.31 to 1.2.32 (#464)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump prek from 0.4.0 to 0.4.1 (#465)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump agent-deck from 1.9.20 to 1.9.22 (#466)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.22 to 1.9.23 (#467)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump wacli from 0.9.2 to 0.10.0 (#468)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

Bump agent-deck from 1.9.23 to 1.9.24 (#470)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump gh-markdown-preview from 1.11.0 to 1.11.1 (#471)
  gh-markdown-preview/.SRCINFO
  gh-markdown-preview/PKGBUILD
Due: gh-markdown-preview

Bump agent-deck from 1.9.24 to 1.9.25 (#472)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.25 to 1.9.26 (#473)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.26 to 1.9.27 (#474)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.27 to 1.9.28 (#475)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.28 to 1.9.29 (#476)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump brev-cli from 0.6.324 to 0.6.325 (#477)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

Bump aws-doctor from 2.17.0 to 2.18.0 (#478)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump agent-deck from 1.9.29 to 1.9.30 (#479)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump poutine from 1.1.4 to 1.1.5 (#480)
  poutine/.SRCINFO
  poutine/PKGBUILD
Due: poutine

Bump trice from 1.2.1 to 1.2.2 (#481)
  trice/.SRCINFO
  trice/PKGBUILD
Due: trice

Bump wacli from 0.10.0 to 0.11.0 (#482)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

Bump brev-cli from 0.6.325 to 0.6.326 (#484)
  brev-cli/.SRCINFO
  brev-cli/PKGBUILD
Due: brev-cli

Bump poutine from 1.1.5 to 1.1.6 (#485)
  poutine/.SRCINFO
  poutine/PKGBUILD
Due: poutine

Bump agent-deck from 1.9.30 to 1.9.31 (#486)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump aws-doctor from 2.18.0 to 2.19.0 (#487)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump trice from 1.2.2 to 1.2.3 (#488)
  trice/.SRCINFO
  trice/PKGBUILD
Due: trice

Bump comigo from 1.2.32 to 1.2.33 (#489)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump agent-deck from 1.9.31 to 1.9.32 (#490)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump prek from 0.4.1 to 0.4.2 (#491)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump agent-deck from 1.9.32 to 1.9.35 (#492)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.35 to 1.9.36 (#493)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump comigo from 1.2.33 to 1.2.34 (#494)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump comigo from 1.2.34 to 1.2.35 (#495)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

Bump prek from 0.4.2 to 0.4.3 (#496)
  prek/.SRCINFO
  prek/PKGBUILD
Due: prek

Bump agent-deck from 1.9.36 to 1.9.37 (#497)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.9.37 to 1.9.38 (#498)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck
