Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

agent-deck:
  name: agent-deck
  entry: ./build agent-deck
  language: system
  pass_filenames: false

aligo:
  name: aligo
  entry: ./build aligo
  language: system
  pass_filenames: false

annas-mcp:
  name: annas-mcp
  entry: ./build annas-mcp
  language: system
  pass_filenames: false

aws-doctor:
  name: aws-doctor
  entry: ./build aws-doctor
  language: system
  pass_filenames: false

blipgloss:
  name: blipgloss
  entry: ./build blipgloss
  language: system
  pass_filenames: false

brev-cli:
  name: brev-cli
  entry: ./build brev-cli
  language: system
  pass_filenames: false

buildifier:
  name: buildifier
  entry: ./build buildifier
  language: system
  pass_filenames: false

buildifier-bin:
  name: buildifier-bin
  entry: ./build buildifier-bin
  language: system
  pass_filenames: false

buildozer:
  name: buildozer
  entry: ./build buildozer
  language: system
  pass_filenames: false

buildozer-bin:
  name: buildozer-bin
  entry: ./build buildozer-bin
  language: system
  pass_filenames: false

captain:
  name: captain
  entry: ./build captain
  language: system
  pass_filenames: false

cascadia:
  name: cascadia
  entry: ./build cascadia
  language: system
  pass_filenames: false

cert:
  name: cert
  entry: ./build cert
  language: system
  pass_filenames: false

cfnctl:
  name: cfnctl
  entry: ./build cfnctl
  language: system
  pass_filenames: false

check-symlinks:
  name: check-symlinks
  entry: ./build check-symlinks
  language: system
  pass_filenames: false

checkip:
  name: checkip
  entry: ./build checkip
  language: system
  pass_filenames: false

clive:
  name: clive
  entry: ./build clive
  language: system
  pass_filenames: false

cloud189:
  name: cloud189
  entry: ./build cloud189
  language: system
  pass_filenames: false

cls3:
  name: cls3
  entry: ./build cls3
  language: system
  pass_filenames: false

codeowners:
  name: codeowners
  entry: ./build codeowners
  language: system
  pass_filenames: false

comigo:
  name: comigo
  entry: ./build comigo
  language: system
  pass_filenames: false

connections:
  name: connections
  entry: ./build connections
  language: system
  pass_filenames: false

cycle-cli:
  name: cycle-cli
  entry: ./build cycle-cli
  language: system
  pass_filenames: false

diny:
  name: diny
  entry: ./build diny
  language: system
  pass_filenames: false

docker-debug:
  name: docker-debug
  entry: ./build docker-debug
  language: system
  pass_filenames: false

dockerfilegraph:
  name: dockerfilegraph
  entry: ./build dockerfilegraph
  language: system
  pass_filenames: false

enpasscli:
  name: enpasscli
  entry: ./build enpasscli
  language: system
  pass_filenames: false

faas-cli:
  name: faas-cli
  entry: ./build faas-cli
  language: system
  pass_filenames: false

fil:
  name: fil
  entry: ./build fil
  language: system
  pass_filenames: false

gh-eco:
  name: gh-eco
  entry: ./build gh-eco
  language: system
  pass_filenames: false

gh-s:
  name: gh-s
  entry: ./build gh-s
  language: system
  pass_filenames: false

Bump agent-deck from 1.7.1 to 1.7.4 (#338)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.4 to 1.7.5 (#339)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.5 to 1.7.6 (#340)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.6 to 1.7.7 (#341)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.7 to 1.7.9 (#342)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.9 to 1.7.10 (#343)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.10 to 1.7.14 (#344)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.14 to 1.7.15 (#345)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.15 to 1.7.16 (#346)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.16 to 1.7.17 (#347)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.17 to 1.7.18 (#348)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump poutine from 1.1.3 to 1.1.4 (#349)
  poutine/.SRCINFO
  poutine/PKGBUILD
Due: poutine

Bump agent-deck from 1.7.18 to 1.7.19 (#350)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.19 to 1.7.20 (#351)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.20 to 1.7.21 (#352)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump aligo from 2.4.0 to 2.5.0 (#354)
  aligo/.SRCINFO
  aligo/PKGBUILD
Due: aligo

Bump gitcs from 1.2.1 to 1.2.2 (#355)
  gitcs/.SRCINFO
  gitcs/PKGBUILD
Due: gitcs

Bump agent-deck from 1.7.21 to 1.7.22 (#353)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.22 to 1.7.23 (#358)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.23 to 1.7.24 (#359)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.24 to 1.7.25 (#360)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.25 to 1.7.26 (#361)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.26 to 1.7.29 (#362)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.29 to 1.7.30 (#363)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.30 to 1.7.31 (#364)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.31 to 1.7.32 (#365)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.32 to 1.7.36 (#366)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump aws-doctor from 2.8.0 to 2.9.0 (#367)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump agent-deck from 1.7.36 to 1.7.38 (#368)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump aws-doctor from 2.9.0 to 2.9.1 (#369)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump rad from 0.9.2 to 0.10.0 (#370)
  rad/.SRCINFO
  rad/PKGBUILD
Due: rad

Bump aws-doctor from 2.9.1 to 2.9.2 (#371)
  aws-doctor/.SRCINFO
  aws-doctor/PKGBUILD
Due: aws-doctor

Bump agent-deck from 1.7.38 to 1.7.39 (#372)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump checkip from 0.49.0 to 0.50.0 (#373)
  checkip/.SRCINFO
  checkip/PKGBUILD
Due: checkip

Bump checkip from 0.50.0 to 0.51.0 (#374)
  checkip/.SRCINFO
  checkip/PKGBUILD
Due: checkip

Bump checkip from 0.51.0 to 0.53.0 (#375)
  checkip/.SRCINFO
  checkip/PKGBUILD
Due: checkip

Bump agent-deck from 1.7.39 to 1.7.40 (#376)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Bump agent-deck from 1.7.40 to 1.7.41 (#377)
  agent-deck/.SRCINFO
  agent-deck/PKGBUILD
Due: agent-deck

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$
