Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

agent-deck:
  name: agent-deck
  entry: ./build agent-deck
  language: system
  pass_filenames: false

aligo:
  name: aligo
  entry: ./build aligo
  language: system
  pass_filenames: false

annas-mcp:
  name: annas-mcp
  entry: ./build annas-mcp
  language: system
  pass_filenames: false

aws-doctor:
  name: aws-doctor
  entry: ./build aws-doctor
  language: system
  pass_filenames: false

blipgloss:
  name: blipgloss
  entry: ./build blipgloss
  language: system
  pass_filenames: false

brev-cli:
  name: brev-cli
  entry: ./build brev-cli
  language: system
  pass_filenames: false

buildifier:
  name: buildifier
  entry: ./build buildifier
  language: system
  pass_filenames: false

buildifier-bin:
  name: buildifier-bin
  entry: ./build buildifier-bin
  language: system
  pass_filenames: false

buildozer:
  name: buildozer
  entry: ./build buildozer
  language: system
  pass_filenames: false

buildozer-bin:
  name: buildozer-bin
  entry: ./build buildozer-bin
  language: system
  pass_filenames: false

captain:
  name: captain
  entry: ./build captain
  language: system
  pass_filenames: false

cascadia:
  name: cascadia
  entry: ./build cascadia
  language: system
  pass_filenames: false

cert:
  name: cert
  entry: ./build cert
  language: system
  pass_filenames: false

cfnctl:
  name: cfnctl
  entry: ./build cfnctl
  language: system
  pass_filenames: false

check-symlinks:
  name: check-symlinks
  entry: ./build check-symlinks
  language: system
  pass_filenames: false

checkip:
  name: checkip
  entry: ./build checkip
  language: system
  pass_filenames: false

clive:
  name: clive
  entry: ./build clive
  language: system
  pass_filenames: false

cloud189:
  name: cloud189
  entry: ./build cloud189
  language: system
  pass_filenames: false

cls3:
  name: cls3
  entry: ./build cls3
  language: system
  pass_filenames: false

codeowners:
  name: codeowners
  entry: ./build codeowners
  language: system
  pass_filenames: false

comigo:
  name: comigo
  entry: ./build comigo
  language: system
  pass_filenames: false

connections:
  name: connections
  entry: ./build connections
  language: system
  pass_filenames: false

cycle-cli:
  name: cycle-cli
  entry: ./build cycle-cli
  language: system
  pass_filenames: false

diny:
  name: diny
  entry: ./build diny
  language: system
  pass_filenames: false

docker-debug:
  name: docker-debug
  entry: ./build docker-debug
  language: system
  pass_filenames: false

dockerfilegraph:
  name: dockerfilegraph
  entry: ./build dockerfilegraph
  language: system
  pass_filenames: false

enpasscli:
  name: enpasscli
  entry: ./build enpasscli
  language: system
  pass_filenames: false

faas-cli:
  name: faas-cli
  entry: ./build faas-cli
  language: system
  pass_filenames: false

fil:
  name: fil
  entry: ./build fil
  language: system
  pass_filenames: false

gh-eco:
  name: gh-eco
  entry: ./build gh-eco
  language: system
  pass_filenames: false

gh-s:
  name: gh-s
  entry: ./build gh-s
  language: system
  pass_filenames: false

ktail: apply Arch Go packaging hardening flags (#673)
  ktail/.SRCINFO
  ktail/PKGBUILD
Due: ktail

prxy: apply Arch Go packaging hardening flags (#693)
  prxy/.SRCINFO
  prxy/PKGBUILD
Due: prxy

jenkins-cli: apply Arch Go packaging hardening flags (#671)
  jenkins-cli/.SRCINFO
  jenkins-cli/PKGBUILD
Due: jenkins-cli

release-tag: apply Arch Go packaging hardening flags (#696)
  release-tag/.SRCINFO
  release-tag/PKGBUILD
Due: release-tag

ovpm: apply Arch Go packaging hardening flags (#687)
  ovpm/.SRCINFO
  ovpm/PKGBUILD
Due: ovpm

htb-cli: apply Arch Go packaging hardening flags (#668)
  htb-cli/.SRCINFO
  htb-cli/PKGBUILD
Due: htb-cli

poutine: apply Arch Go packaging hardening flags (#691)
  poutine/.SRCINFO
  poutine/PKGBUILD
Due: poutine

mac-cleanup-go: apply Arch Go packaging hardening flags (#675)
  mac-cleanup-go/.SRCINFO
  mac-cleanup-go/PKGBUILD
Due: mac-cleanup-go

protolock: apply Arch Go packaging hardening flags (#692)
  protolock/.SRCINFO
  protolock/PKGBUILD
Due: protolock

stree: apply Arch Go packaging hardening flags (#700)
  stree/.SRCINFO
  stree/PKGBUILD
Due: stree

pkglint: use -modcacherw for module download (#690)
  pkglint/PKGBUILD
Due: none

nirvana: apply Arch Go packaging hardening flags (#682)
  nirvana/.SRCINFO
  nirvana/PKGBUILD
Due: nirvana

nomore403: apply Arch Go packaging hardening flags (#683)
  nomore403/.SRCINFO
  nomore403/PKGBUILD
Due: nomore403

sqsmover: apply Arch Go packaging hardening flags (#699)
  sqsmover/.SRCINFO
  sqsmover/PKGBUILD
Due: sqsmover

tfsort: apply Arch Go packaging hardening flags (#703)
  tfsort/.SRCINFO
  tfsort/PKGBUILD
Due: tfsort

wacli: apply Arch Go packaging hardening flags (#709)
  wacli/.SRCINFO
  wacli/PKGBUILD
Due: wacli

pep-ebook: apply Arch Go packaging hardening flags (#689)
  pep-ebook/.SRCINFO
  pep-ebook/PKGBUILD
Due: pep-ebook

snipkit: apply Arch Go packaging hardening flags (#698)
  snipkit/.SRCINFO
  snipkit/PKGBUILD
Due: snipkit

world-cup-2022-cli-dashboard: apply Arch Go packaging hardening flags (#711)
  world-cup-2022-cli-dashboard/.SRCINFO
  world-cup-2022-cli-dashboard/PKGBUILD
Due: world-cup-2022-cli-dashboard

saw: apply Arch Go packaging hardening flags (#697)
  saw/.SRCINFO
  saw/PKGBUILD
Due: saw

redis_tui: apply Arch Go packaging hardening flags (#695)
  redis_tui/.SRCINFO
  redis_tui/PKGBUILD
Due: redis_tui

zkcli: apply Arch Go packaging hardening flags (#714)
  zkcli/.SRCINFO
  zkcli/PKGBUILD
Due: zkcli

truss: apply Arch Go packaging hardening flags (#706)
  truss/.SRCINFO
  truss/PKGBUILD
Due: truss

tinyfeed: apply Arch Go packaging hardening flags (#704)
  tinyfeed/.SRCINFO
  tinyfeed/PKGBUILD
Due: tinyfeed

tecli: apply Arch Go packaging hardening flags (#702)
  tecli/.SRCINFO
  tecli/PKGBUILD
Due: tecli

zeit: apply Arch Go packaging hardening flags (#713)
  zeit/.SRCINFO
  zeit/PKGBUILD
Due: zeit

work: apply Arch Go packaging hardening flags (#710)
  work/.SRCINFO
  work/PKGBUILD
Due: work

vibecheck: apply Arch Go packaging hardening flags (#708)
  vibecheck/.SRCINFO
  vibecheck/PKGBUILD
Due: vibecheck

trice: apply Arch Go packaging hardening flags (#705)
  trice/.SRCINFO
  trice/PKGBUILD
Due: trice

yamldiff: apply Arch Go packaging hardening flags (#712)
  yamldiff/.SRCINFO
  yamldiff/PKGBUILD
Due: yamldiff

vgo: apply Arch Go packaging hardening flags (#707)
  vgo/.SRCINFO
  vgo/PKGBUILD
Due: vgo

iftree: apply Arch Go packaging hardening flags (#669)
  iftree/.SRCINFO
  iftree/PKGBUILD
Due: iftree

gh-markdown-preview: apply Arch Go packaging hardening flags (#716)
  gh-markdown-preview/.SRCINFO
  gh-markdown-preview/PKGBUILD
Due: gh-markdown-preview

upgrade pkglint to 1.3.0
  pkglint/.SRCINFO
  pkglint/PKGBUILD
Due: none

rework CI to use `pkglint`
  .github/actions/prek/action.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  build
  shellcheck
  validate_configs.py
Due: none

nodebug.conf
  .github/actions/prek/action.yml
Due: none

nit
  pkglint/PKGBUILD
Due: none

nit
  ibazel/PKGBUILD
Due: ibazel

nit
  ibazel/.SRCINFO
  ibazel/PKGBUILD
Due: ibazel

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$
