Repository jmelahman/PKGBUILDs: changes, and which pre-commit hooks are due for each by the changed paths.
All: agent-deck, aligo, annas-mcp, aws-doctor, blipgloss, brev-cli, buildifier, buildifier-bin, buildozer, buildozer-bin, captain, cascadia, cert, cfnctl, check-symlinks, checkip, clive, cloud189, cls3, codeowners, comigo, connections, cycle-cli, diny, docker-debug, dockerfilegraph, enpasscli, faas-cli, fil, gh-eco, gh-markdown-preview, gh-s, git-orchard, gitcs, go-carpet, go-global-update, go-grip, go-perftuner, go-test-report, goben, gocognit, gocovsh, gojekyll, gosuki, gotouch, gotun, gowebdav, gowsdl, grpcmd, gscript, gtasks, gvm, hanime-hunter, hashi-up, htb-cli, ibazel-bin, ibazel, iftree, jaggr, jenkins-cli, json2struct, ktail, kure, mac-cleanup-go, madonctl, mirrorbits, mufetch, my-token, n26, nature-sounds, nirvana, nomore403, ojosama, opsy, otel-cli, ovpm, paclear, pep-ebook, poutine, prek, protolock, prxy, python-blessings, python-dict2xml, python-e3-core, rad, redis_tui, release-tag, ripsecrets, saw, snipkit, sqsmover, stree, tabtoy, tecli, tfsort, tinyfeed, trice, truss, vgo, vibecheck, wacli, work, world-cup-2022-cli-dashboard, yamldiff, zeit, zkcli

Path conditions:
  agent-deck: any of: ^agent-deck/PKGBUILD$
  aligo: any of: ^aligo/PKGBUILD$
  annas-mcp: any of: ^annas-mcp/PKGBUILD$
  aws-doctor: any of: ^aws-doctor/PKGBUILD$
  blipgloss: any of: ^blipgloss/PKGBUILD$
  brev-cli: any of: ^brev-cli/PKGBUILD$
  buildifier: any of: ^buildifier/PKGBUILD$
  buildifier-bin: any of: ^buildifier-bin/PKGBUILD$
  buildozer: any of: ^buildozer/PKGBUILD$
  buildozer-bin: any of: ^buildozer-bin/PKGBUILD$
  captain: any of: ^captain/PKGBUILD$
  cascadia: any of: ^cascadia/PKGBUILD$
  cert: any of: ^cert/PKGBUILD$
  cfnctl: any of: ^cfnctl/PKGBUILD$
  check-symlinks: any of: ^check-symlinks/PKGBUILD$
  checkip: any of: ^checkip/PKGBUILD$
  clive: any of: ^clive/PKGBUILD$
  cloud189: any of: ^cloud189/PKGBUILD$
  cls3: any of: ^cls3/PKGBUILD$
  codeowners: any of: ^codeowners/PKGBUILD$
  comigo: any of: ^comigo/PKGBUILD$
  connections: any of: ^connections/PKGBUILD$
  cycle-cli: any of: ^cycle-cli/PKGBUILD$
  diny: any of: ^diny/PKGBUILD$
  docker-debug: any of: ^docker-debug/PKGBUILD$
  dockerfilegraph: any of: ^dockerfilegraph/PKGBUILD$
  enpasscli: any of: ^enpasscli/PKGBUILD$
  faas-cli: any of: ^faas-cli/PKGBUILD$
  fil: any of: ^fil/PKGBUILD$
  gh-eco: any of: ^gh-eco/PKGBUILD$
  gh-markdown-preview: any of: ^gh-markdown-preview/PKGBUILD$
  gh-s: any of: ^gh-s/PKGBUILD$
  git-orchard: any of: ^git-orchard/PKGBUILD$
  gitcs: any of: ^gitcs/PKGBUILD$
  go-carpet: any of: ^go-carpet/PKGBUILD$
  go-global-update: any of: ^go-global-update/PKGBUILD$
  go-grip: any of: ^go-grip/PKGBUILD$
  go-perftuner: any of: ^go-perftuner/PKGBUILD$
  go-test-report: any of: ^go-test-report/PKGBUILD$
  goben: any of: ^goben/PKGBUILD$
  gocognit: any of: ^gocognit/PKGBUILD$
  gocovsh: any of: ^gocovsh/PKGBUILD$
  gojekyll: any of: ^gojekyll/PKGBUILD$
  gosuki: any of: ^gosuki/PKGBUILD$
  gotouch: any of: ^gotouch/PKGBUILD$
  gotun: any of: ^gotun/PKGBUILD$
  gowebdav: any of: ^gowebdav/PKGBUILD$
  gowsdl: any of: ^gowsdl/PKGBUILD$
  grpcmd: any of: ^grpcmd/PKGBUILD$
  gscript: any of: ^gscript/PKGBUILD$
  gtasks: any of: ^gtasks/PKGBUILD$
  gvm: any of: ^gvm/PKGBUILD$
  hanime-hunter: any of: ^hanime-hunter/PKGBUILD$
  hashi-up: any of: ^hashi-up/PKGBUILD$
  htb-cli: any of: ^htb-cli/PKGBUILD$
  ibazel-bin: any of: ^ibazel-bin/PKGBUILD$
  ibazel: any of: ^ibazel/PKGBUILD$
  iftree: any of: ^iftree/PKGBUILD$
  jaggr: any of: ^jaggr/PKGBUILD$
  jenkins-cli: any of: ^jenkins-cli/PKGBUILD$
  json2struct: any of: ^json2struct/PKGBUILD$
  ktail: any of: ^ktail/PKGBUILD$
  kure: any of: ^kure/PKGBUILD$
  mac-cleanup-go: any of: ^mac-cleanup-go/PKGBUILD$
  madonctl: any of: ^madonctl/PKGBUILD$
  mirrorbits: any of: ^mirrorbits/PKGBUILD$
  mufetch: any of: ^mufetch/PKGBUILD$
  my-token: any of: ^my-token/PKGBUILD$
  n26: any of: ^n26/PKGBUILD$
  nature-sounds: any of: ^nature-sounds/PKGBUILD$
  nirvana: any of: ^nirvana/PKGBUILD$
  nomore403: any of: ^nomore403/PKGBUILD$
  ojosama: any of: ^ojosama/PKGBUILD$
  opsy: any of: ^opsy/PKGBUILD$
  otel-cli: any of: ^otel-cli/PKGBUILD$
  ovpm: any of: ^ovpm/PKGBUILD$
  paclear: any of: ^paclear/PKGBUILD$
  pep-ebook: any of: ^pep-ebook/PKGBUILD$
  poutine: any of: ^poutine/PKGBUILD$
  prek: any of: ^prek/PKGBUILD$
  protolock: any of: ^protolock/PKGBUILD$
  prxy: any of: ^prxy/PKGBUILD$
  python-blessings: any of: ^python-blessings/PKGBUILD$
  python-dict2xml: any of: ^python-dict2xml/PKGBUILD$
  python-e3-core: any of: ^python-e3-core/PKGBUILD$
  rad: any of: ^rad/PKGBUILD$
  redis_tui: any of: ^redis_tui/PKGBUILD$
  release-tag: any of: ^release-tag/PKGBUILD$
  ripsecrets: any of: ^ripsecrets/PKGBUILD$
  saw: any of: ^saw/PKGBUILD$
  snipkit: any of: ^snipkit/PKGBUILD$
  sqsmover: any of: ^sqsmover/PKGBUILD$
  stree: any of: ^stree/PKGBUILD$
  tabtoy: any of: ^tabtoy/PKGBUILD$
  tecli: any of: ^tecli/PKGBUILD$
  tfsort: any of: ^tfsort/PKGBUILD$
  tinyfeed: any of: ^tinyfeed/PKGBUILD$
  trice: any of: ^trice/PKGBUILD$
  truss: any of: ^truss/PKGBUILD$
  vgo: any of: ^vgo/PKGBUILD$
  vibecheck: any of: ^vibecheck/PKGBUILD$
  wacli: any of: ^wacli/PKGBUILD$
  work: any of: ^work/PKGBUILD$
  world-cup-2022-cli-dashboard: any of: ^world-cup-2022-cli-dashboard/PKGBUILD$
  yamldiff: any of: ^yamldiff/PKGBUILD$
  zeit: any of: ^zeit/PKGBUILD$
  zkcli: any of: ^zkcli/PKGBUILD$

gh-eco: apply Arch Go packaging hardening flags
  gh-eco/.SRCINFO
  gh-eco/PKGBUILD
Due: gh-eco

gh-s: apply Arch Go packaging hardening flags
  gh-s/.SRCINFO
  gh-s/PKGBUILD
Due: gh-s

gitcs: apply Arch Go packaging hardening flags
  gitcs/.SRCINFO
  gitcs/PKGBUILD
Due: gitcs

git-orchard: apply Arch Go packaging hardening flags
  git-orchard/.SRCINFO
  git-orchard/PKGBUILD
Due: git-orchard

goben: apply Arch Go packaging hardening flags
  goben/.SRCINFO
  goben/PKGBUILD
Due: goben

go-carpet: apply Arch Go packaging hardening flags
  go-carpet/.SRCINFO
  go-carpet/PKGBUILD
Due: go-carpet

connections: apply Arch Go packaging hardening flags (#638)
  connections/.SRCINFO
  connections/PKGBUILD
Due: connections

gocognit: apply Arch Go packaging hardening flags
  gocognit/.SRCINFO
  gocognit/PKGBUILD
Due: gocognit

gocovsh: apply Arch Go packaging hardening flags
  gocovsh/.SRCINFO
  gocovsh/PKGBUILD
Due: gocovsh

comigo: apply Arch Go packaging hardening flags (#637)
  comigo/.SRCINFO
  comigo/PKGBUILD
Due: comigo

go-global-update: apply Arch Go packaging hardening flags
  go-global-update/.SRCINFO
  go-global-update/PKGBUILD
Due: go-global-update

go-grip: apply Arch Go packaging hardening flags
  go-grip/.SRCINFO
  go-grip/PKGBUILD
Due: go-grip

gojekyll: apply Arch Go packaging hardening flags
  gojekyll/.SRCINFO
  gojekyll/PKGBUILD
Due: gojekyll

go-perftuner: apply Arch Go packaging hardening flags
  go-perftuner/.SRCINFO
  go-perftuner/PKGBUILD
Due: go-perftuner

enpasscli: apply Arch Go packaging hardening flags (#642)
  enpasscli/.SRCINFO
  enpasscli/PKGBUILD
Due: enpasscli

go-test-report: apply Arch Go packaging hardening flags
  go-test-report/.SRCINFO
  go-test-report/PKGBUILD
Due: go-test-report

gotouch: apply Arch Go packaging hardening flags
  gotouch/.SRCINFO
  gotouch/PKGBUILD
Due: gotouch

docker-debug: apply Arch Go packaging hardening flags (#640)
  docker-debug/.SRCINFO
  docker-debug/PKGBUILD
Due: docker-debug

gitcs: apply Arch Go packaging hardening flags (#647)
  gitcs/.SRCINFO
  gitcs/PKGBUILD
Due: gitcs

gotun: apply Arch Go packaging hardening flags
  gotun/.SRCINFO
  gotun/PKGBUILD
Due: gotun

dockerfilegraph: apply Arch Go packaging hardening flags (#641)
  dockerfilegraph/.SRCINFO
  dockerfilegraph/PKGBUILD
Due: dockerfilegraph

gowebdav: apply Arch Go packaging hardening flags
  gowebdav/.SRCINFO
  gowebdav/PKGBUILD
Due: gowebdav

gh-eco: apply Arch Go packaging hardening flags (#645)
  gh-eco/.SRCINFO
  gh-eco/PKGBUILD
Due: gh-eco

gowsdl: apply Arch Go packaging hardening flags
  gowsdl/.SRCINFO
  gowsdl/PKGBUILD
Due: gowsdl

grpcmd: apply Arch Go packaging hardening flags
  grpcmd/.SRCINFO
  grpcmd/PKGBUILD
Due: grpcmd

gscript: apply Arch Go packaging hardening flags
  gscript/.SRCINFO
  gscript/PKGBUILD
Due: gscript

gtasks: apply Arch Go packaging hardening flags
  gtasks/.SRCINFO
  gtasks/PKGBUILD
Due: gtasks

gvm: apply Arch Go packaging hardening flags
  gvm/.SRCINFO
  gvm/PKGBUILD
Due: gvm

hanime-hunter: apply Arch Go packaging hardening flags
  hanime-hunter/.SRCINFO
  hanime-hunter/PKGBUILD
Due: hanime-hunter

hashi-up: apply Arch Go packaging hardening flags
  hashi-up/.SRCINFO
  hashi-up/PKGBUILD
Due: hashi-up

htb-cli: apply Arch Go packaging hardening flags
  htb-cli/.SRCINFO
  htb-cli/PKGBUILD
Due: htb-cli

iftree: apply Arch Go packaging hardening flags
  iftree/.SRCINFO
  iftree/PKGBUILD
Due: iftree

gowsdl: apply Arch Go packaging hardening flags (#661)
  gowsdl/.SRCINFO
  gowsdl/PKGBUILD
Due: gowsdl

jaggr: apply Arch Go packaging hardening flags
  jaggr/.SRCINFO
  jaggr/PKGBUILD
Due: jaggr

jenkins-cli: apply Arch Go packaging hardening flags
  jenkins-cli/.SRCINFO
  jenkins-cli/PKGBUILD
Due: jenkins-cli

json2struct: apply Arch Go packaging hardening flags
  json2struct/.SRCINFO
  json2struct/PKGBUILD
Due: json2struct

faas-cli: apply Arch Go packaging hardening flags (#643)
  faas-cli/.SRCINFO
  faas-cli/PKGBUILD
Due: faas-cli

ktail: apply Arch Go packaging hardening flags
  ktail/.SRCINFO
  ktail/PKGBUILD
Due: ktail

kure: apply Arch Go packaging hardening flags
  kure/.SRCINFO
  kure/PKGBUILD
Due: kure

go-carpet: apply Arch Go packaging hardening flags (#650)
  go-carpet/.SRCINFO
  go-carpet/PKGBUILD
Due: go-carpet
